In [31]:
%pip install pandas pymysql openpyxl
%pip install tabulate

9827.12s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Users/mdalamintokder/Library/Python/3.9/lib/python/site-packages (2.2.3)
Requirement already satisfied: pymysql in /Users/mdalamintokder/Library/Python/3.9/lib/python/site-packages (1.1.1)
Requirement already satisfied: openpyxl in /Users/mdalamintokder/Library/Python/3.9/lib/python/site-packages (3.1.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/mdalamintokder/Library/Python/3.9/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: numpy>=1.22.4 in /Users/mdalamintokder/Library/Python/3.9/lib/python/site-packages (from pandas) (2.0.2)
Requirement already satisfied: pytz>=2020.1 in /Users/mdalamintokder/Library/Python/3.9/lib/python/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/mdalamintokder/Library/Python/3.9/lib/python/site-packages (from pandas) (2025.2)
Requirement already satisfied: et-xmlfile in /Users/mdalamintokder/Library/Python/3.9/lib/python/site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in /Users/mdalamintokder/Library/Python/3.9/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
WARNING: You are using pip version 21.2.4; however, version 25.1.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

9834.11s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: tabulate in /Users/mdalamintokder/Library/Python/3.9/lib/python/site-packages (0.9.0)
WARNING: You are using pip version 21.2.4; however, version 25.1.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [14]:
# 📦 Step 2: Import required libraries
import pandas as pd
import pymysql

# 🔐 Step 3: Define your DB config
db_config = {
    'host': 'localhost',       # Local MySQL
    'user': 'root',
    'password': '',
    'database': 'Leather_repair_db',
    'port': 3306
}

# 🧾 Step 4: Write your SQL query
query = """
SELECT *
FROM 
  chats
"""

# ⚙️ Step 5: Connect to DB and fetch data
try:
    connection = pymysql.connect(**db_config)
    df = pd.read_sql(query, connection)
    df.head()  # Display first few rows of the DataFrame
    # print(df.head())  # Display first few rows of the DataFrame
    connection.close()

    print("✅ Data fetched successfully!")
except Exception as e:
    print("❌ Error while connecting or fetching:", e)


# 💾 Step 6: Save to Excel
output_file = "chats.xlsx"
try:
    df.to_excel(output_file, index=False)
    print(f"📁 Excel file saved successfully as '{output_file}'")
except Exception as e:
    print("❌ Error while saving to Excel:", e)

/var/folders/05/dcqg5c4d6_b827xfj3z40j0w0000gn/T/ipykernel_2465/3194455283.py:24: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

✅ Data fetched successfully!
📁 Excel file saved successfully as 'chats.xlsx'

In [15]:
df.head()

,id,order_id,sender_status,send_user_id,send_date,message,is_display,photo_name,created_at,updated_at
0,9925,16432,1,0,2022-12-06 23:36:51,先日発送したのですが商品無事に到着しましたでしょうか,1,None,2022-12-06 20:36:51,2022-12-06 20:36:51
1,9934,16432,2,6,2022-12-07 10:20:00,ご連絡頂きありがとうございます。\n\nお品物届きまして、見積もり作業中となりあす。\n\n...,1,None,2022-12-07 07:18:16,2022-12-07 07:20:02
2,9999,16432,1,0,2022-12-07 23:44:09,かしこまりました,1,None,2022-12-07 20:44:09,2022-12-07 20:44:09
3,10008,16432,2,1,2022-12-08 08:10:00,お返事のメールを頂きまして、誠に有難うございます。\n\nお時間がかかり申し訳ございません。...,1,None,2022-12-08 04:51:26,2022-12-08 05:10:02
4,24055,29585,1,0,2023-07-12 12:39:21,写真だけでとても詳しい修理内容のお返事いただき有難うございます。\r\n付け根の裂けた部分は...,1,None,2023-07-12 09:39:21,2023-07-12 09:39:21

# Additional Translation sheet

In [10]:
%pip install googletrans==4.0.0-rc1

Defaulting to user installation because normal site-packages is not writeable
Collecting googletrans==4.0.0-rc1
  Downloading googletrans-4.0.0rc1.tar.gz (20 kB)
Collecting httpx==0.13.3
  Downloading httpx-0.13.3-py3-none-any.whl (55 kB)
     |████████████████████████████████| 55 kB 1.1 MB/s eta 0:00:01
Collecting httpcore==0.9.*
  Downloading httpcore-0.9.1-py3-none-any.whl (42 kB)
     |████████████████████████████████| 42 kB 3.9 MB/s eta 0:00:01
Collecting hstspreload
  Downloading hstspreload-2025.1.1-py3-none-any.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 1.9 MB/s eta 0:00:01
Collecting rfc3986<2,>=1.3
  Downloading rfc3986-1.5.0-py2.py3-none-any.whl (31 kB)
Requirement already satisfied: chardet==3.* in /Users/mdalamintokder/Library/Python/3.9/lib/python/site-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (3.0.4)
Requirement already satisfied: certifi in /Users/mdalamintokder/Library/Python/3.9/lib/python/site-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (2025.4.26)
Requirement already satisfied: sniffio in /Users/mdalamintokder/Library/Python/3.9/lib/python/site-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (1.3.1)
Collecting idna==2.*
  Downloading idna-2.10-py2.py3-none-any.whl (58 kB)
     |████████████████████████████████| 58 kB 13.3 MB/s eta 0:00:01
Collecting h11<0.10,>=0.8
  Downloading h11-0.9.0-py2.py3-none-any.whl (53 kB)
     |████████████████████████████████| 53 kB 8.0 MB/s  eta 0:00:01
Collecting h2==3.*
  Downloading h2-3.2.0-py2.py3-none-any.whl (65 kB)
     |████████████████████████████████| 65 kB 11.2 MB/s eta 0:00:01
Collecting hpack<4,>=3.0
  Downloading hpack-3.0.0-py2.py3-none-any.whl (38 kB)
Collecting hyperframe<6,>=5.2.0
  Downloading hyperframe-5.2.0-py2.py3-none-any.whl (12 kB)
Building wheels for collected packages: googletrans
  Building wheel for googletrans (setup.py) ... done
  Created wheel for googletrans: filename=googletrans-4.0.0rc1-py3-none-any.whl size=17415 sha256=91ba68cdfcf78eed9a501768fa01e874e6bb92030be710c53c454109dc7f33a4
  Stored in directory: /Users/mdalamintokder/Library/Caches/pip/wheels/60/b3/27/d8aff3e2d5c2d0d97a117cdf0d5f13cd121e2c2b5fb49b55a0
Successfully built googletrans
Installing collected packages: hyperframe, hpack, h2, h11, rfc3986, idna, httpcore, hstspreload, httpx, googletrans
  Attempting uninstall: h11
    Found existing installation: h11 0.16.0
    Uninstalling h11-0.16.0:
      Successfully uninstalled h11-0.16.0
  Attempting uninstall: idna
    Found existing installation: idna 3.10
    Uninstalling idna-3.10:
      Successfully uninstalled idna-3.10
  Attempting uninstall: httpcore
    Found existing installation: httpcore 1.0.9
    Uninstalling httpcore-1.0.9:
      Successfully uninstalled httpcore-1.0.9
  Attempting uninstall: httpx
    Found existing installation: httpx 0.28.1
    Uninstalling httpx-0.28.1:
      Successfully uninstalled httpx-0.28.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
unstructured-client 0.34.0 requires httpx>=0.27.0, but you have httpx 0.13.3 which is incompatible.
openai 1.77.0 requires httpx<1,>=0.23.0, but you have httpx 0.13.3 which is incompatible.
langsmith 0.3.42 requires httpx<1,>=0.23.0, but you have httpx 0.13.3 which is incompatible.
groq 0.25.0 requires httpx<1,>=0.23.0, but you have httpx 0.13.3 which is incompatible.
Successfully installed googletrans-4.0.0rc1 h11-0.9.0 h2-3.2.0 hpack-3.0.0 hstspreload-2025.1.1 httpcore-0.9.1 httpx-0.13.3 hyperframe-5.2.0 idna-2.10 rfc3986-1.5.0
WARNING: You are using pip version 21.2.4; however, version 25.1.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

# chats table

In [ ]:
import pandas as pd
import pymysql
from googletrans import Translator

# 📌 User-defined: columns to translate
columns_to_translate = {
    "message": "message_jap"

}

# 📌 Optional: set this to None to auto-use all rows
num_rows_to_translate = 50  

# 🌐 Translator init
translator = Translator()

# 🔐 DB config
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': '',
    'database': 'Leather_repair_db',
    'port': 3306
}

# 🧾 SQL query
query = "SELECT * FROM chats"

# 📥 Fetch data from DB
try:
    connection = pymysql.connect(**db_config)
    df = pd.read_sql(query, connection)
    connection.close()
    print("✅ Data fetched successfully!")
except Exception as e:
    print("❌ Error while connecting or fetching:", e)

# 🔁 Set number of rows to translate
if num_rows_to_translate is None:
    num_rows_to_translate = len(df)
    print(f"📊 No row limit set. Translating all {num_rows_to_translate} rows.")

# 🌍 Translate selected columns
for original_col, new_col in columns_to_translate.items():
    if original_col in df.columns:
        try:
            print(f"🔁 Translating first {num_rows_to_translate} rows of '{original_col}' ➡️ '{new_col}' ...")
            translated_col = []

            for i, text in enumerate(df[original_col].astype(str)):
                if i < num_rows_to_translate:
                    try:
                        translated_text = translator.translate(text, src='ja', dest='en').text
                    except Exception as trans_err:
                        translated_text = "Translation Failed"
                else:
                    translated_text = ""
                translated_col.append(translated_text)

            df[new_col] = translated_col

        except Exception as e:
            print(f"❌ Error translating '{original_col}': {e}")
            df[new_col] = "Translation Failed"
    else:
        print(f"⚠️ Column '{original_col}' not found in DataFrame.")

# 💾 Save updated DataFrame
output_file = "chats_translated.xlsx"
try:
    df.to_excel(output_file, index=False)
    print(f"📁 Excel file saved successfully as '{output_file}'")
except Exception as e:
    print("❌ Error while saving to Excel:", e)

/var/folders/05/dcqg5c4d6_b827xfj3z40j0w0000gn/T/ipykernel_2465/831788205.py:32: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df1 = pd.read_sql(query, connection)

✅ Data fetched successfully!
🔁 Translating first 50 rows of 'message' ➡️ 'message_jap' ...
⚠️ Column 'title' not found in DataFrame.
📁 Excel file saved successfully as 'chats_translated.xlsx'

In [ ]:
df.head()

,id,order_id,sender_status,send_user_id,send_date,message,is_display,photo_name,created_at,updated_at
0,9925,16432,1,0,2022-12-06 23:36:51,先日発送したのですが商品無事に到着しましたでしょうか,1,None,2022-12-06 20:36:51,2022-12-06 20:36:51
1,9934,16432,2,6,2022-12-07 10:20:00,ご連絡頂きありがとうございます。\n\nお品物届きまして、見積もり作業中となりあす。\n\n...,1,None,2022-12-07 07:18:16,2022-12-07 07:20:02
2,9999,16432,1,0,2022-12-07 23:44:09,かしこまりました,1,None,2022-12-07 20:44:09,2022-12-07 20:44:09
3,10008,16432,2,1,2022-12-08 08:10:00,お返事のメールを頂きまして、誠に有難うございます。\n\nお時間がかかり申し訳ございません。...,1,None,2022-12-08 04:51:26,2022-12-08 05:10:02
4,24055,29585,1,0,2023-07-12 12:39:21,写真だけでとても詳しい修理内容のお返事いただき有難うございます。\r\n付け根の裂けた部分は...,1,None,2023-07-12 09:39:21,2023-07-12 09:39:21

# Brands table

In [20]:
import pandas as pd
import pymysql
from googletrans import Translator

# 📌 User-defined: columns to translate
columns_to_translate = {
    "brand": "brand_translated"
}

# 📌 Optional: set this to None to auto-use all rows
num_rows_to_translate = None 

# 🌐 Translator init
translator = Translator()

# 🔐 DB config
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': '',
    'database': 'Leather_repair_db',
    'port': 3306
}

# 🧾 SQL query
query = "SELECT * FROM brands"

# 📥 Fetch data from DB
try:
    connection = pymysql.connect(**db_config)
    df = pd.read_sql(query, connection)
    connection.close()
    print("✅ Data fetched successfully!")
except Exception as e:
    print("❌ Error while connecting or fetching:", e)

# 🔁 Set number of rows to translate
if num_rows_to_translate is None:
    num_rows_to_translate = len(df)
    print(f"📊 No row limit set. Translating all {num_rows_to_translate} rows.")

# 🌍 Translate selected columns
for original_col, new_col in columns_to_translate.items():
    if original_col in df.columns:
        try:
            print(f"🔁 Translating first {num_rows_to_translate} rows of '{original_col}' ➡️ '{new_col}' ...")
            translated_col = []

            for i, text in enumerate(df[original_col].astype(str)):
                if i < num_rows_to_translate:
                    try:
                        translated_text = translator.translate(text, src='ja', dest='en').text
                    except Exception as trans_err:
                        translated_text = "Translation Failed"
                else:
                    translated_text = ""
                translated_col.append(translated_text)

            df[new_col] = translated_col

        except Exception as e:
            print(f"❌ Error translating '{original_col}': {e}")
            df[new_col] = "Translation Failed"
    else:
        print(f"⚠️ Column '{original_col}' not found in DataFrame.")

# 💾 Save updated DataFrame
output_file = "brands.xlsx"
try:
    df.to_excel(output_file, index=False)
    print(f"📁 Excel file saved successfully as '{output_file}'")
except Exception as e:
    print("❌ Error while saving to Excel:", e)

/var/folders/05/dcqg5c4d6_b827xfj3z40j0w0000gn/T/ipykernel_2465/3534327448.py:31: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

✅ Data fetched successfully!
📊 No row limit set. Translating all 23 rows.
🔁 Translating first 23 rows of 'brand' ➡️ 'brand_translated' ...
📁 Excel file saved successfully as 'brands.xlsx'

In [21]:
df.head()

   id    brand          created_at          updated_at brand_translated
0   1  その他ブランド 2021-09-28 07:19:43 2021-09-28 07:19:43     Other brands
1   2     エルメス 2021-09-28 07:19:43 2021-09-28 07:19:43           Hermes
2   3    カルティエ 2021-09-28 07:19:43 2021-09-28 07:19:43          Cartier
3   4   クロムハーツ 2021-09-28 07:19:43 2021-09-28 07:19:43    Chrome Hearts
4   5      グッチ 2021-09-28 07:19:43 2021-09-28 07:19:43            Gucci

# Configs Table

In [23]:
import pandas as pd
import pymysql
from googletrans import Translator

# 📌 User-defined: columns to translate
columns_to_translate = {
    "company_name": "company_name_translated"
}

# 📌 Optional: set this to None to auto-use all rows
num_rows_to_translate = None 

# 🌐 Translator init
translator = Translator()

# 🔐 DB config
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': '',
    'database': 'Leather_repair_db',
    'port': 3306
}

# 🧾 SQL query
query = "SELECT * FROM configs"

# 📥 Fetch data from DB
try:
    connection = pymysql.connect(**db_config)
    df = pd.read_sql(query, connection)
    connection.close()
    print("✅ Data fetched successfully!")
except Exception as e:
    print("❌ Error while connecting or fetching:", e)

# 🔁 Set number of rows to translate
if num_rows_to_translate is None:
    num_rows_to_translate = len(df)
    print(f"📊 No row limit set. Translating all {num_rows_to_translate} rows.")

# 🌍 Translate selected columns
for original_col, new_col in columns_to_translate.items():
    if original_col in df.columns:
        try:
            print(f"🔁 Translating first {num_rows_to_translate} rows of '{original_col}' ➡️ '{new_col}' ...")
            translated_col = []

            for i, text in enumerate(df[original_col].astype(str)):
                if i < num_rows_to_translate:
                    try:
                        translated_text = translator.translate(text, src='ja', dest='en').text
                    except Exception as trans_err:
                        translated_text = "Translation Failed"
                else:
                    translated_text = ""
                translated_col.append(translated_text)

            df[new_col] = translated_col

        except Exception as e:
            print(f"❌ Error translating '{original_col}': {e}")
            df[new_col] = "Translation Failed"
    else:
        print(f"⚠️ Column '{original_col}' not found in DataFrame.")

# 💾 Save updated DataFrame
output_file = "configs.xlsx"
try:
    df.to_excel(output_file, index=False)
    print(f"📁 Excel file saved successfully as '{output_file}'")
except Exception as e:
    print("❌ Error while saving to Excel:", e)

/var/folders/05/dcqg5c4d6_b827xfj3z40j0w0000gn/T/ipykernel_2465/4294043947.py:31: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

✅ Data fetched successfully!
📊 No row limit set. Translating all 1 rows.
🔁 Translating first 1 rows of 'company_name' ➡️ 'company_name_translated' ...
📁 Excel file saved successfully as 'configs.xlsx'

In [24]:
df.head()

,id,company_name,contact_email,sender_email,large_categories_doctor_edit_flag,large_categories_karte_edit_flag,medium_categories_doctor_edit_flag,medium_categories_karte_edit_flag,templates_doctor_edit_flag,templates_karte_edit_flag,created_at,updated_at,company_name_translated
0,1,革修復どっとコム,info@kawasyuri.com,info@kawasyuri.com,11,0,0,0,4,0,2021-07-26 10:28:13,2025-06-02 14:03:06,Leather Repair Dot.com

# description_templates table

In [26]:
import pandas as pd
import pymysql
from googletrans import Translator

# 📌 User-defined: columns to translate
columns_to_translate = {
    "name": "name_translated",
    "doctor_content": "doctor_content_translated",
}

# 📌 Optional: set this to None to auto-use all rows
num_rows_to_translate = 20

# 🌐 Translator init
translator = Translator()

# 🔐 DB config
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': '',
    'database': 'Leather_repair_db',
    'port': 3306
}

# 🧾 SQL query
query = "SELECT * FROM description_templates"

# 📥 Fetch data from DB
try:
    connection = pymysql.connect(**db_config)
    df = pd.read_sql(query, connection)
    connection.close()
    print("✅ Data fetched successfully!")
except Exception as e:
    print("❌ Error while connecting or fetching:", e)

# 🔁 Set number of rows to translate
if num_rows_to_translate is None:
    num_rows_to_translate = len(df)
    print(f"📊 No row limit set. Translating all {num_rows_to_translate} rows.")

# 🌍 Translate selected columns
for original_col, new_col in columns_to_translate.items():
    if original_col in df.columns:
        try:
            print(f"🔁 Translating first {num_rows_to_translate} rows of '{original_col}' ➡️ '{new_col}' ...")
            translated_col = []

            for i, text in enumerate(df[original_col].astype(str)):
                if i < num_rows_to_translate:
                    try:
                        translated_text = translator.translate(text, src='ja', dest='en').text
                    except Exception as trans_err:
                        translated_text = "Translation Failed"
                else:
                    translated_text = ""
                translated_col.append(translated_text)

            df[new_col] = translated_col

        except Exception as e:
            print(f"❌ Error translating '{original_col}': {e}")
            df[new_col] = "Translation Failed"
    else:
        print(f"⚠️ Column '{original_col}' not found in DataFrame.")

# 💾 Save updated DataFrame
output_file = "description_templates.xlsx"
try:
    df.to_excel(output_file, index=False)
    print(f"📁 Excel file saved successfully as '{output_file}'")
except Exception as e:
    print("❌ Error while saving to Excel:", e)

/var/folders/05/dcqg5c4d6_b827xfj3z40j0w0000gn/T/ipykernel_2465/3313767190.py:32: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

✅ Data fetched successfully!
🔁 Translating first 20 rows of 'name' ➡️ 'name_translated' ...
🔁 Translating first 20 rows of 'doctor_content' ➡️ 'doctor_content_translated' ...
📁 Excel file saved successfully as 'description_templates.xlsx'

In [27]:
df.head()

,id,medium_category_id,sort,name,doctor_content,karte_content,template_doctor_edit_flag,template_karte_edit_flag,created_at,updated_at,name_translated,doctor_content_translated
0,2,1,2,部分傷または色褪せ（部分補色と全体艶感調整）,画像で見ますと、クレンジングと傷や色あせた部分に補色して\n\n全体的に艶感を調整する加工を...,None,0,0,2021-07-26 11:15:46,2022-07-22 07:26:37,Partial scratches or fading (partial complemen...,"Looking at the image, it is cleansed and compl..."
1,3,1,3,全体染め直し：特に問題無し,aaa,None,0,0,2021-07-27 10:40:42,2021-07-27 10:40:42,Re-dyeing: No particular problems,aaa
2,4,4,116,コーティング被膜の有無判断不可,画像を見て分かる範囲でご案内させて頂きます。\r\n\r\n画像で判断が出来ませんでしたが、...,None,0,0,2021-07-31 07:44:07,2023-06-30 10:48:48,Cannot determine whether or not there is a coa...,We will provide you with information as far as...
3,5,5,5,全体メンテナンス：特に問題無し,画像を見て判る範囲でご案内させて頂きます。\r\n\r\n画像で見ますと、クレンジング及び全...,None,6,0,2021-07-31 07:57:44,2024-07-13 09:56:13,Overall maintenance: No issues,We will guide you as far as you can see from t...
4,6,6,6,状態判断とどの程度までのメンテナンスを考えているか確認,添付いただいた画像を拝見させて頂きました。\r\n\r\nお手数をお掛け下さり有難うございま...,None,0,0,2021-07-31 08:18:42,2023-06-30 10:55:50,Check the condition and how much maintenance y...,I've seen the attached image.\r\n\r\nThank you...

# destination_adresses table

In [32]:
import pandas as pd
import pymysql
from googletrans import Translator

# 📌 User-defined: columns to translate
columns_to_translate = {
    "name": "name_translated"
}

# 📌 Optional: set this to None to auto-use all rows
num_rows_to_translate = 50

# 🌐 Translator init
translator = Translator()

# 🔐 DB config
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': '',
    'database': 'Leather_repair_db',
    'port': 3306
}

# 🧾 SQL query
query = "SELECT * FROM destination_addresses"

# 📥 Fetch data from DB
try:
    connection = pymysql.connect(**db_config)
    df = pd.read_sql(query, connection)
    connection.close()
    print("✅ Data fetched successfully!")
except Exception as e:
    print("❌ Error while connecting or fetching:", e)

# 🔁 Set number of rows to translate
if num_rows_to_translate is None:
    num_rows_to_translate = len(df)
    print(f"📊 No row limit set. Translating all {num_rows_to_translate} rows.")

# 🌍 Translate selected columns
for original_col, new_col in columns_to_translate.items():
    if original_col in df.columns:
        try:
            print(f"🔁 Translating first {num_rows_to_translate} rows of '{original_col}' ➡️ '{new_col}' ...")
            translated_col = []

            for i, text in enumerate(df[original_col].astype(str)):
                if i < num_rows_to_translate:
                    try:
                        translated_text = translator.translate(text, src='ja', dest='en').text
                    except Exception as trans_err:
                        translated_text = "Translation Failed"
                else:
                    translated_text = ""
                translated_col.append(translated_text)

            df[new_col] = translated_col

        except Exception as e:
            print(f"❌ Error translating '{original_col}': {e}")
            df[new_col] = "Translation Failed"
    else:
        print(f"⚠️ Column '{original_col}' not found in DataFrame.")

# 💾 Save updated DataFrame
output_file = "destination_addresses.xlsx"
try:
    df.to_excel(output_file, index=False)
    print(f"📁 Excel file saved successfully as '{output_file}'")
except Exception as e:
    print("❌ Error while saving to Excel:", e)

/var/folders/05/dcqg5c4d6_b827xfj3z40j0w0000gn/T/ipykernel_2465/1682333718.py:31: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

✅ Data fetched successfully!
🔁 Translating first 50 rows of 'name' ➡️ 'name_translated' ...
📁 Excel file saved successfully as 'destination_addresses.xlsx'

In [33]:
df.head()

,id,order_id,address_type,name,name_kana,tel,zip_code,prefecture,city,address,building_name,honorific,created_at,updated_at,name_translated
0,16432,16432,customer,藤原まりな,None,08045146693,,None,None,None,None,None,2022-11-30 11:57:14,2022-11-30 12:50:32,Fujiwara Marina
1,29585,29585,customer,高橋知子,None,09026230356,,None,None,None,None,None,2023-07-08 18:14:14,2023-07-10 04:19:02,Takahashi Tomoko
2,31266,31266,customer,小幡晴世,None,09088119330,,None,None,None,None,None,2023-08-06 01:37:53,2023-08-07 05:55:39,Obata Haruyo
3,35961,35961,customer,水上未帆,None,08046413740,,None,None,None,None,None,2023-10-23 04:17:44,2023-10-23 08:03:33,Missing on the water
4,37660,37660,customer,石井彩美,None,08039828591,,None,None,None,None,None,2023-11-19 10:23:10,2023-11-20 05:37:33,Ishii Ayami

# large_categories

In [34]:
import pandas as pd
import pymysql
from googletrans import Translator

# 📌 User-defined: columns to translate
columns_to_translate = {
    "name": "name_translated"
}

# 📌 Optional: set this to None to auto-use all rows
num_rows_to_translate = None

# 🌐 Translator init
translator = Translator()

# 🔐 DB config
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': '',
    'database': 'Leather_repair_db',
    'port': 3306
}

# 🧾 SQL query
query = "SELECT * FROM large_categories"

# 📥 Fetch data from DB
try:
    connection = pymysql.connect(**db_config)
    df = pd.read_sql(query, connection)
    connection.close()
    print("✅ Data fetched successfully!")
except Exception as e:
    print("❌ Error while connecting or fetching:", e)

# 🔁 Set number of rows to translate
if num_rows_to_translate is None:
    num_rows_to_translate = len(df)
    print(f"📊 No row limit set. Translating all {num_rows_to_translate} rows.")

# 🌍 Translate selected columns
for original_col, new_col in columns_to_translate.items():
    if original_col in df.columns:
        try:
            print(f"🔁 Translating first {num_rows_to_translate} rows of '{original_col}' ➡️ '{new_col}' ...")
            translated_col = []

            for i, text in enumerate(df[original_col].astype(str)):
                if i < num_rows_to_translate:
                    try:
                        translated_text = translator.translate(text, src='ja', dest='en').text
                    except Exception as trans_err:
                        translated_text = "Translation Failed"
                else:
                    translated_text = ""
                translated_col.append(translated_text)

            df[new_col] = translated_col

        except Exception as e:
            print(f"❌ Error translating '{original_col}': {e}")
            df[new_col] = "Translation Failed"
    else:
        print(f"⚠️ Column '{original_col}' not found in DataFrame.")

# 💾 Save updated DataFrame
output_file = "large_categories.xlsx"
try:
    df.to_excel(output_file, index=False)
    print(f"📁 Excel file saved successfully as '{output_file}'")
except Exception as e:
    print("❌ Error while saving to Excel:", e)

/var/folders/05/dcqg5c4d6_b827xfj3z40j0w0000gn/T/ipykernel_2465/3308574745.py:31: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

✅ Data fetched successfully!
📊 No row limit set. Translating all 58 rows.
🔁 Translating first 58 rows of 'name' ➡️ 'name_translated' ...
📁 Excel file saved successfully as 'large_categories.xlsx'

In [35]:
df.head()

,id,sort,name,created_at,updated_at,name_translated
0,1,27,【ブランド別】定型外バッグ,2021-07-26 10:28:13,2024-09-17 06:52:12,[Brand] Non-standard bags
1,3,11,④キャンパス・合皮：シミ・変色・色褪せ・べたつき,2021-07-31 07:40:40,2024-12-02 05:07:27,"④Campus/Synthetic Leather: Stains, Discolorati..."
2,4,55,要望確認や事前確認が必要な場合,2021-07-31 08:12:21,2024-09-17 06:52:12,If you need to confirm your request or prior c...
3,5,14,ワニ革・リザードのメンテナンス,2021-07-31 08:30:17,2024-09-17 06:52:12,Crocodile leather and lizard maintenance
4,6,18,⑦エナメル関連,2021-07-31 08:50:13,2024-09-17 06:52:12,7. Enamel related

# medium_categories

In [36]:
import pandas as pd
import pymysql
from googletrans import Translator

# 📌 User-defined: columns to translate
columns_to_translate = {
    "name": "name_translated"
}

# 📌 Optional: set this to None to auto-use all rows
num_rows_to_translate = None

# 🌐 Translator init
translator = Translator()

# 🔐 DB config
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': '',
    'database': 'Leather_repair_db',
    'port': 3306
}

# 🧾 SQL query
query = "SELECT * FROM medium_categories"

# 📥 Fetch data from DB
try:
    connection = pymysql.connect(**db_config)
    df = pd.read_sql(query, connection)
    connection.close()
    print("✅ Data fetched successfully!")
except Exception as e:
    print("❌ Error while connecting or fetching:", e)

# 🔁 Set number of rows to translate
if num_rows_to_translate is None:
    num_rows_to_translate = len(df)
    print(f"📊 No row limit set. Translating all {num_rows_to_translate} rows.")

# 🌍 Translate selected columns
for original_col, new_col in columns_to_translate.items():
    if original_col in df.columns:
        try:
            print(f"🔁 Translating first {num_rows_to_translate} rows of '{original_col}' ➡️ '{new_col}' ...")
            translated_col = []

            for i, text in enumerate(df[original_col].astype(str)):
                if i < num_rows_to_translate:
                    try:
                        translated_text = translator.translate(text, src='ja', dest='en').text
                    except Exception as trans_err:
                        translated_text = "Translation Failed"
                else:
                    translated_text = ""
                translated_col.append(translated_text)

            df[new_col] = translated_col

        except Exception as e:
            print(f"❌ Error translating '{original_col}': {e}")
            df[new_col] = "Translation Failed"
    else:
        print(f"⚠️ Column '{original_col}' not found in DataFrame.")

# 💾 Save updated DataFrame
output_file = "medium_categories.xlsx"
try:
    df.to_excel(output_file, index=False)
    print(f"📁 Excel file saved successfully as '{output_file}'")
except Exception as e: 
    print("❌ Error while saving to Excel:", e)

/var/folders/05/dcqg5c4d6_b827xfj3z40j0w0000gn/T/ipykernel_2465/3876211130.py:31: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

✅ Data fetched successfully!
📊 No row limit set. Translating all 357 rows.
🔁 Translating first 357 rows of 'name' ➡️ 'name_translated' ...
📁 Excel file saved successfully as 'medium_categories.xlsx'

In [37]:
df.head()

,id,large_category_id,sort,name,created_at,updated_at,name_translated
0,1,1,10,色褪せ・擦れ・変色,2021-07-26 10:28:13,2022-01-07 07:27:25,"Fade, scuff, discoloration"
1,4,3,1,エルメスガーデンパーティー,2021-07-31 07:41:37,2021-07-31 07:41:37,Hermes Garden Party
2,5,1,3,ルイヴィトン,2021-07-31 07:56:32,2021-09-17 06:00:11,Louis Vuitton
3,6,4,1,カスタマイズ定型,2021-07-31 08:13:39,2021-07-31 08:13:39,Customized standard
4,7,5,1,エルメス財布,2021-07-31 08:30:41,2021-07-31 08:30:41,Hermes wallet

# order_items

In [38]:
import pandas as pd
import pymysql
from googletrans import Translator

# 📌 User-defined: columns to translate
columns_to_translate = {
    "item_name": "item_name_translated",
    "brand": "brand_translated"
}

# 📌 Optional: set this to None to auto-use all rows
num_rows_to_translate = 50

# 🌐 Translator init
translator = Translator()

# 🔐 DB config
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': '',
    'database': 'Leather_repair_db',
    'port': 3306
}

# 🧾 SQL query
query = "SELECT * FROM order_items"

# 📥 Fetch data from DB
try:
    connection = pymysql.connect(**db_config)
    df = pd.read_sql(query, connection)
    connection.close()
    print("✅ Data fetched successfully!")
except Exception as e:
    print("❌ Error while connecting or fetching:", e)

# 🔁 Set number of rows to translate
if num_rows_to_translate is None:
    num_rows_to_translate = len(df)
    print(f"📊 No row limit set. Translating all {num_rows_to_translate} rows.")

# 🌍 Translate selected columns
for original_col, new_col in columns_to_translate.items():
    if original_col in df.columns:
        try:
            print(f"🔁 Translating first {num_rows_to_translate} rows of '{original_col}' ➡️ '{new_col}' ...")
            translated_col = []

            for i, text in enumerate(df[original_col].astype(str)):
                if i < num_rows_to_translate:
                    try:
                        translated_text = translator.translate(text, src='ja', dest='en').text
                    except Exception as trans_err:
                        translated_text = "Translation Failed"
                else:
                    translated_text = ""
                translated_col.append(translated_text)

            df[new_col] = translated_col

        except Exception as e:
            print(f"❌ Error translating '{original_col}': {e}")
            df[new_col] = "Translation Failed"
    else:
        print(f"⚠️ Column '{original_col}' not found in DataFrame.")

# 💾 Save updated DataFrame
output_file = "order_items.xlsx"
try:
    df.to_excel(output_file, index=False)
    print(f"📁 Excel file saved successfully as '{output_file}'")
except Exception as e: 
    print("❌ Error while saving to Excel:", e)

/var/folders/05/dcqg5c4d6_b827xfj3z40j0w0000gn/T/ipykernel_2465/1880192492.py:32: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

✅ Data fetched successfully!
🔁 Translating first 50 rows of 'item_name' ➡️ 'item_name_translated' ...
🔁 Translating first 50 rows of 'brand' ➡️ 'brand_translated' ...
📁 Excel file saved successfully as 'order_items.xlsx'

# order_photos

In [39]:
# import pandas as pd
# import pymysql
# from googletrans import Translator

# # 📌 User-defined: columns to translate
# columns_to_translate = {
#     "item_name": "item_name_translated",
#     "brand": "brand_translated"
# }

# # 📌 Optional: set this to None to auto-use all rows
# num_rows_to_translate = 50

# # 🌐 Translator init
# translator = Translator()

# # 🔐 DB config
# db_config = {
#     'host': 'localhost',
#     'user': 'root',
#     'password': '',
#     'database': 'Leather_repair_db',
#     'port': 3306
# }

# # 🧾 SQL query
# query = "SELECT * FROM order_items"

# # 📥 Fetch data from DB
# try:
#     connection = pymysql.connect(**db_config)
#     df = pd.read_sql(query, connection)
#     connection.close()
#     print("✅ Data fetched successfully!")
# except Exception as e:
#     print("❌ Error while connecting or fetching:", e)

# # 🔁 Set number of rows to translate
# if num_rows_to_translate is None:
#     num_rows_to_translate = len(df)
#     print(f"📊 No row limit set. Translating all {num_rows_to_translate} rows.")

# # 🌍 Translate selected columns
# for original_col, new_col in columns_to_translate.items():
#     if original_col in df.columns:
#         try:
#             print(f"🔁 Translating first {num_rows_to_translate} rows of '{original_col}' ➡️ '{new_col}' ...")
#             translated_col = []

#             for i, text in enumerate(df[original_col].astype(str)):
#                 if i < num_rows_to_translate:
#                     try:
#                         translated_text = translator.translate(text, src='ja', dest='en').text
#                     except Exception as trans_err:
#                         translated_text = "Translation Failed"
#                 else:
#                     translated_text = ""
#                 translated_col.append(translated_text)

#             df[new_col] = translated_col

#         except Exception as e:
#             print(f"❌ Error translating '{original_col}': {e}")
#             df[new_col] = "Translation Failed"
#     else:
#         print(f"⚠️ Column '{original_col}' not found in DataFrame.")

# # 💾 Save updated DataFrame
# output_file = "order_items.xlsx"
# try:
#     df.to_excel(output_file, index=False)
#     print(f"📁 Excel file saved successfully as '{output_file}'")
# except Exception as e: 
#     print("❌ Error while saving to Excel:", e)













# 📦 Step 2: Import required libraries
import pandas as pd
import pymysql

# 🔐 Step 3: Define your DB config
db_config = {
    'host': 'localhost',       # Local MySQL
    'user': 'root',
    'password': '',
    'database': 'Leather_repair_db',
    'port': 3306
}

# 🧾 Step 4: Write your SQL query
query = """
SELECT *
FROM 
  order_photos
"""

# ⚙️ Step 5: Connect to DB and fetch data
try:
    connection = pymysql.connect(**db_config)
    df = pd.read_sql(query, connection)
    df.head()  # Display first few rows of the DataFrame
    # print(df.head())  # Display first few rows of the DataFrame
    connection.close()

    print("✅ Data fetched successfully!")
except Exception as e:
    print("❌ Error while connecting or fetching:", e)


# 💾 Step 6: Save to Excel
output_file = "order_photos.xlsx"
try:
    df.to_excel(output_file, index=False)
    print(f"📁 Excel file saved successfully as '{output_file}'")
except Exception as e:
    print("❌ Error while saving to Excel:", e)

/var/folders/05/dcqg5c4d6_b827xfj3z40j0w0000gn/T/ipykernel_2465/1669497336.py:111: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

✅ Data fetched successfully!
📁 Excel file saved successfully as 'order_photos.xlsx'

# orders

In [41]:
import pandas as pd
import pymysql
from googletrans import Translator

# 📌 User-defined: columns to translate
columns_to_translate = {
    "internal_memo": "internal_memo_translated",
    "customer_memo": "customer_memo_translated"
}

# 📌 Optional: set this to None to auto-use all rows
num_rows_to_translate = 20

# 🌐 Translator init
translator = Translator()

# 🔐 DB config
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': '',
    'database': 'Leather_repair_db',
    'port': 3306
}

# 🧾 SQL query
query = "SELECT * FROM orders"

# 📥 Fetch data from DB
try:
    connection = pymysql.connect(**db_config)
    df = pd.read_sql(query, connection)
    connection.close()
    print("✅ Data fetched successfully!")
except Exception as e:
    print("❌ Error while connecting or fetching:", e)

# 🔁 Set number of rows to translate
if num_rows_to_translate is None:
    num_rows_to_translate = len(df)
    print(f"📊 No row limit set. Translating all {num_rows_to_translate} rows.")

# 🌍 Translate selected columns
for original_col, new_col in columns_to_translate.items():
    if original_col in df.columns:
        try:
            print(f"🔁 Translating first {num_rows_to_translate} rows of '{original_col}' ➡️ '{new_col}' ...")
            translated_col = []

            for i, text in enumerate(df[original_col].astype(str)):
                if i < num_rows_to_translate:
                    try:
                        translated_text = translator.translate(text, src='ja', dest='en').text
                    except Exception as trans_err:
                        translated_text = "Translation Failed"
                else:
                    translated_text = ""
                translated_col.append(translated_text)

            df[new_col] = translated_col

        except Exception as e:
            print(f"❌ Error translating '{original_col}': {e}")
            df[new_col] = "Translation Failed"
    else:
        print(f"⚠️ Column '{original_col}' not found in DataFrame.")

# 💾 Save updated DataFrame
output_file = "orders.xlsx"
try:
    df.to_excel(output_file, index=False)
    print(f"📁 Excel file saved successfully as '{output_file}'")
except Exception as e: 
    print("❌ Error while saving to Excel:", e)

/var/folders/05/dcqg5c4d6_b827xfj3z40j0w0000gn/T/ipykernel_2465/4082131383.py:32: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

✅ Data fetched successfully!
🔁 Translating first 20 rows of 'internal_memo' ➡️ 'internal_memo_translated' ...
🔁 Translating first 20 rows of 'customer_memo' ➡️ 'customer_memo_translated' ...
📁 Excel file saved successfully as 'orders.xlsx'

In [ ]:
df.head()

# send_mail_histories

In [42]:



# 📦 Step 2: Import required libraries
import pandas as pd
import pymysql

# 🔐 Step 3: Define your DB config
db_config = {
    'host': 'localhost',       # Local MySQL
    'user': 'root',
    'password': '',
    'database': 'Leather_repair_db',
    'port': 3306
}

# 🧾 Step 4: Write your SQL query
query = """
SELECT *
FROM 
  send_mail_histories
"""

# ⚙️ Step 5: Connect to DB and fetch data
try:
    connection = pymysql.connect(**db_config)
    df = pd.read_sql(query, connection)
    df.head()  # Display first few rows of the DataFrame
    # print(df.head())  # Display first few rows of the DataFrame
    connection.close()

    print("✅ Data fetched successfully!")
except Exception as e:
    print("❌ Error while connecting or fetching:", e)


# 💾 Step 6: Save to Excel
output_file = "send_mail_histories.xlsx"
try:
    df.to_excel(output_file, index=False)
    print(f"📁 Excel file saved successfully as '{output_file}'")
except Exception as e:
    print("❌ Error while saving to Excel:", e)

/var/folders/05/dcqg5c4d6_b827xfj3z40j0w0000gn/T/ipykernel_2465/1168035296.py:24: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

✅ Data fetched successfully!
📁 Excel file saved successfully as 'send_mail_histories.xlsx'

In [43]:
df.head()

,id,order_number,mail_address,contents,send_date,send_status,created_at,updated_at
0,1,091234567891,fut03k.katsumi@gmail.com,10,2021-07-26 14:52:32,1,2021-07-26 11:52:32,2021-07-26 11:52:32
1,2,091234567891,fut03k.katsumi@gmail.com,20,2021-07-26 14:58:41,1,2021-07-26 11:58:41,2021-07-26 11:58:41
2,3,091234567892,fut03k.katsumi@gmail.com,10,2021-07-26 16:16:16,1,2021-07-26 13:16:16,2021-07-26 13:16:16
3,4,091234567893,fut03k.katsumi@gmail.com,10,2021-07-26 16:18:16,1,2021-07-26 13:18:16,2021-07-26 13:18:16
4,5,091234567894,fut03k.katsumi@gmail.com,10,2021-07-26 16:20:27,1,2021-07-26 13:20:27,2021-07-26 13:20:27

# status_histories

In [48]:



# 📦 Step 2: Import required libraries
import pandas as pd
import pymysql

# 🔐 Step 3: Define your DB config
db_config = {
    'host': 'localhost',       # Local MySQL
    'user': 'root',
    'password': '',
    'database': 'Leather_repair_db',
    'port': 3306
}

# 🧾 Step 4: Write your SQL query
query = """
SELECT *
FROM 
  status_histories
"""

# ⚙️ Step 5: Connect to DB and fetch data
try:
    connection = pymysql.connect(**db_config)
    df = pd.read_sql(query, connection)
    df.head()  # Display first few rows of the DataFrame
    # print(df.head())  # Display first few rows of the DataFrame
    connection.close()

    print("✅ Data fetched successfully!")
except Exception as e:
    print("❌ Error while connecting or fetching:", e)


# 💾 Step 6: Save to Excel
output_file = "status_histories.xlsx"
try:
    df.to_excel(output_file, index=False)
    print(f"📁 Excel file saved successfully as '{output_file}'")
except Exception as e:
    print("❌ Error while saving to Excel:", e)

/var/folders/05/dcqg5c4d6_b827xfj3z40j0w0000gn/T/ipykernel_2465/4019857127.py:24: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

✅ Data fetched successfully!
📁 Excel file saved successfully as 'status_histories.xlsx'

In [49]:
df.head()  # Display the first few rows of the DataFrame

,id,order_id,user_id,before_status,after_status,note,created_at,updated_at
0,1,8221,1,10,10,20,2022-06-30 07:43:49,2022-06-30 07:43:49
1,2,8221,1,20,20,20,2022-06-30 07:44:00,2022-06-30 07:44:00
2,3,8222,1,10,10,20,2022-06-30 08:07:04,2022-06-30 08:07:04
3,4,8223,1,10,10,20,2022-06-30 08:08:24,2022-06-30 08:08:24
4,5,8224,1,10,10,20,2022-06-30 08:09:05,2022-06-30 08:09:05

# template_insert_histories

In [46]:



# 📦 Step 2: Import required libraries
import pandas as pd
import pymysql

# 🔐 Step 3: Define your DB config
db_config = {
    'host': 'localhost',       # Local MySQL
    'user': 'root',
    'password': '',
    'database': 'Leather_repair_db',
    'port': 3306
}

# 🧾 Step 4: Write your SQL query
query = """
SELECT *
FROM 
  template_insert_histories
"""

# ⚙️ Step 5: Connect to DB and fetch data
try:
    connection = pymysql.connect(**db_config)
    df = pd.read_sql(query, connection)
    df.head()  # Display first few rows of the DataFrame
    # print(df.head())  # Display first few rows of the DataFrame
    connection.close()

    print("✅ Data fetched successfully!")
except Exception as e:
    print("❌ Error while connecting or fetching:", e)


# 💾 Step 6: Save to Excel
output_file = "template_insert_histories.xlsx"
try:
    df.to_excel(output_file, index=False)
    print(f"📁 Excel file saved successfully as '{output_file}'")
except Exception as e:
    print("❌ Error while saving to Excel:", e)

/var/folders/05/dcqg5c4d6_b827xfj3z40j0w0000gn/T/ipykernel_2465/453106362.py:24: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

✅ Data fetched successfully!
📁 Excel file saved successfully as 'template_insert_histories.xlsx'

In [47]:
df.head()

,id,order_item_id,description_template_id,user_id,order_item_number,order_item_unique_code,created_at,updated_at
0,1,0,1325,2,2,188fa653509db,2023-06-27 10:09:28,2023-06-27 10:09:28
1,3,0,1141,2,2,188fa98c7fd289,2023-06-27 11:05:06,2023-06-27 11:05:06
2,4,0,1324,2,1,188fabe1f0f298,2023-06-27 11:45:54,2023-06-27 11:45:54
3,8,0,1007,2,4,188fad0c6053a0,2023-06-27 12:07:05,2023-06-27 12:07:05
4,10,0,821,4,1,188fad2cf9138,2023-06-27 12:08:26,2023-06-27 12:08:26

# users

In [50]:

# 📦 Step 2: Import required libraries
import pandas as pd
import pymysql

# 🔐 Step 3: Define your DB config
db_config = {
    'host': 'localhost',       # Local MySQL
    'user': 'root',
    'password': '',
    'database': 'Leather_repair_db',
    'port': 3306
}

# 🧾 Step 4: Write your SQL query
query = """
SELECT *
FROM 
  users
"""

# ⚙️ Step 5: Connect to DB and fetch data
try:
    connection = pymysql.connect(**db_config)
    df = pd.read_sql(query, connection)
    df.head()  # Display first few rows of the DataFrame
    # print(df.head())  # Display first few rows of the DataFrame
    connection.close()

    print("✅ Data fetched successfully!")
except Exception as e:
    print("❌ Error while connecting or fetching:", e)


# 💾 Step 6: Save to Excel
output_file = "users.xlsx"
try:
    df.to_excel(output_file, index=False)
    print(f"📁 Excel file saved successfully as '{output_file}'")
except Exception as e:
    print("❌ Error while saving to Excel:", e)

✅ Data fetched successfully!
📁 Excel file saved successfully as 'users.xlsx'

/var/folders/05/dcqg5c4d6_b827xfj3z40j0w0000gn/T/ipykernel_2465/1950394299.py:24: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

In [51]:
df.head()

,id,login_id,password,role,created_at,updated_at
0,1,admin,$2y$10$2uRGyR0C32Mm4mwkbgnbyu/w7z6klKQ4kJyR77....,1,NaT,NaT
1,2,tetrust,$2y$10$LKY7Gc087OUslgsdY0rrye88iXyRs.dFwwp7RCU...,1,2021-07-26 10:30:38,2021-07-26 10:30:38
2,3,syain,$2y$10$KA78H8U6TfL34QIcLj.C3unO3LzUC7yPRb9e78B...,10,2021-07-26 13:18:48,2021-07-26 13:18:48
3,4,yamamoto,$2y$10$W8/0rlzJbiuKkVjIRgu5y.bhKyO5lg5zYTObxJ1...,1,2021-08-26 06:31:33,2021-08-26 06:31:33
4,5,harue,$2y$10$.mydSR5ssPn/UnDbvvn7Vu2XKg54Xeek82nPzCA...,1,2021-12-21 12:00:04,2024-11-05 10:26:31

# work_descriptions

In [52]:
import pandas as pd
import pymysql
from googletrans import Translator

# 📌 User-defined: columns to translate
columns_to_translate = {
    "name": "name_translated"
}

# 📌 Optional: set this to None to auto-use all rows
num_rows_to_translate = 20

# 🌐 Translator init
translator = Translator()

# 🔐 DB config
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': '',
    'database': 'Leather_repair_db',
    'port': 3306
}

# 🧾 SQL query
query = "SELECT * FROM work_descriptions"

# 📥 Fetch data from DB
try:
    connection = pymysql.connect(**db_config)
    df = pd.read_sql(query, connection)
    connection.close()
    print("✅ Data fetched successfully!")
except Exception as e:
    print("❌ Error while connecting or fetching:", e)

# 🔁 Set number of rows to translate
if num_rows_to_translate is None:
    num_rows_to_translate = len(df)
    print(f"📊 No row limit set. Translating all {num_rows_to_translate} rows.")

# 🌍 Translate selected columns
for original_col, new_col in columns_to_translate.items():
    if original_col in df.columns:
        try:
            print(f"🔁 Translating first {num_rows_to_translate} rows of '{original_col}' ➡️ '{new_col}' ...")
            translated_col = []

            for i, text in enumerate(df[original_col].astype(str)):
                if i < num_rows_to_translate:
                    try:
                        translated_text = translator.translate(text, src='ja', dest='en').text
                    except Exception as trans_err:
                        translated_text = "Translation Failed"
                else:
                    translated_text = ""
                translated_col.append(translated_text)

            df[new_col] = translated_col

        except Exception as e:
            print(f"❌ Error translating '{original_col}': {e}")
            df[new_col] = "Translation Failed"
    else:
        print(f"⚠️ Column '{original_col}' not found in DataFrame.")

# 💾 Save updated DataFrame
output_file = "work_descriptions.xlsx"
try:
    df.to_excel(output_file, index=False)
    print(f"📁 Excel file saved successfully as '{output_file}'")
except Exception as e: 
    print("❌ Error while saving to Excel:", e)

/var/folders/05/dcqg5c4d6_b827xfj3z40j0w0000gn/T/ipykernel_2465/4148672053.py:31: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

✅ Data fetched successfully!
🔁 Translating first 20 rows of 'name' ➡️ 'name_translated' ...
📁 Excel file saved successfully as 'work_descriptions.xlsx'

In [53]:
df.head()

,id,order_item_id,name,unit_price,assign_work_description,description,created_at,updated_at,name_translated
0,237,60998,ハンドル製作交換 2本 22000円,22000,2,None,2024-10-19 07:23:29,2024-10-19 07:23:29,"Handle production and replacement 2 pieces 22,..."
1,238,60998,クレンジングコース・色補正・色止め 黒生地部分のみ 33000円,33000,1,None,2024-10-19 07:23:29,2024-10-19 07:23:29,"Cleansing course, color correction, color fast..."
2,239,60998,クレンジングコース・色補正・色止め 黒生地、白文字、白図含む 44000円,44000,1,None,2024-10-19 07:23:29,2024-10-19 07:23:29,"Cleansing course, color correction, color fast..."
3,240,60998,クレンジング・アニリン染め・艶調整 レザー部分 24200円,24200,3,None,2024-10-19 07:23:29,2024-10-19 07:23:29,"Cleansing, Aniline dyeing, gloss adjustment, l..."
4,241,60998,クレンジング・アニリン染め・艶調整 レザー部分 希望しない,0,3,None,2024-10-19 07:23:29,2024-10-19 07:23:29,"Cleansing, Aniline dyeing, gloss adjustment, l..."